@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8">
    <title>Broad Cast</title>
</head>
<div class="Center">
<font color="#A6ACAF" size="10">
    <marquee><b><i>THANKS FOR WATCHING</i></b></marquee>
</font>
    </div>
<body link="Blue" alink="blue" vlink="#F8F8FF">
    <br />

    <font face="Lato" size="5">
       <!--  -->
                               
        <!--<font face="cinzel" size="4">
           
        </font>-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1 align="center">
        <font color="#F0B27A" size="9">WELCOME TO Channel<br />
        </font>
           
    </h1>
        <video id="videoplayer" src="@Url.Content("~/Video/VID_20221023_170245.mp4")" controls="true" height="350" width="450"/>
    <h3 align="center">
        <font face="cinzel" color="red" size="3"> Watch Live video and enjoy alot
             <br />
 <br />
 <br />
 <br />
 <br />
 <br />
        <hr width="1500px">
        <center>
            <b>
          <font face="cinzel" size="4">
         <a href="#">About Us|     
         <a href="#">Contact Us |    
         <a href="#">Privacy Policy |    
         <a href="#">Terms |     
         <a href="#">Sitemap |    
         <a href="#">Report a Bug |    
         <a href="#">FAQ Partners</a><br />    
         <a href="#">Stories |     
         </a>
            <br />
            <br />
            <font color="#FF0000">all@copyrights 2024</font>    
                </font>
            </b>
        </center>
</body>
</html>
